.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
}
.player {

}
p {
    margin: 0 0 0.5rem 0;
    color: var(--yellow);
    font-weight: bold;
}
input {
    border-bottom-style: groove;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left: hidden;
    text-align: center;
    font-size: 1.2rem;
    width: 10rem;
    color: var(--red);
}

input:focus {
    outline: none;
}